@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-primary: #296399;
  --primary-text: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
  }
}

/*
body {
  background-color: #4a7dff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  color: var(--primary-text);
}
*/

/* remove */
body {
  padding: 20px;
  text-align: center;
}
/* remove */
