@import './base.css';
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* remove */
h1 {
  @apply text-3xl text-red-500 mb-4;
}
/* remove */

.caption {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
